$color-white:      #fff;
$color-white-rgb:  colorToRgb($color-white);

$color-black:      #000;
$color-black-rgb:  colorToRgb($color-black);

$color-gray:       #aaa;
$color-gray-rgb:   colorToRgb($color-gray);
$color-gray-d:     darken($color-gray, 47%);
$color-gray-l:     lighten($color-gray, 35%);

$color-green:      #00d900;
$color-green-rgb:  colorToRgb($color-green);
$color-green-d:    darken($color-green, 35%);
$color-green-l:    lighten($color-green, 35%);

$color-blue:       #2693ff;
$color-blue-rgb:   colorToRgb($color-blue);
$color-blue-d:     darken($color-blue, 35%);
$color-blue-l:     lighten($color-blue, 35%);

$color-purple:     #d900d9;
$color-purple-rgb: colorToRgb($color-purple);
$color-purple-d:   darken($color-purple, 35%);
$color-purple-l:   lighten($color-purple, 35%);

$color-orange:     #ffbf00;
$color-orange-rgb: colorToRgb($color-orange);
$color-orange-d:   darken($color-orange, 35%);
$color-orange-l:   lighten($color-orange, 35%);

$color-red:        #ff4d4d;
$color-red-rgb:    colorToRgb($color-red);
$color-red-d:      darken($color-red, 35%);
$color-red-l:      lighten($color-red, 35%);
