<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/main.css"/>
	</head>
	<body class="{{ body_class }}">
		<div class="container">
			{% for message in flash %}
				<div class="alert alert-{{ message.type }}" role="alert">
					{{ message.body|raw }}
				</div>
			{% endfor %}

			{% block body %}{% endblock %}
		</div>

		<script type="text/javascript" src="./assets/js/main.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
