{% extends "base.twig" %}

{% block title %}Password Reset Failed{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="page-title">Password reset failed</h3>

		<p>Sorry, but your password reset link is invalid or expired. Please <a href="/password/forgot">request a new one</a>.</p>
	</div>
{% endblock %}
