{% extends "base.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
	<div class="container">
		<h1>Password successfully reset</h1>
		<p>You may now <a href="/login">log in</a> using the new password.</p>
	</div>
{% endblock %}