{% extends "base.twig" %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="page-title">Reset your password</h3>

		{% if user.errors is not empty %}
			<p><strong>Errors:</strong></p>

			<ul>
				{% for error in user.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<form id="reset-password" method="post" action="/password/reset-password">
			<input type="hidden" id="token" name="token" value="{{ token }}" />

			<div class="form-group">
				<label for="password">New password:</label>
				<input type="password" id="password" class="form-control" name="password" placeholder="Password" autofocus required />
			</div>

			<button type="submit" class="btn btn-primary">Reset password</button>
		</form>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}
