{% extends "base.twig" %}

{% block title %}Password Reset Sent{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="page-title">Password reset sent</h3>

		<p>Please check your email.</p>
	</div>
{% endblock %}
