<h2>Reset password</h2>

<p>Someone requested a password reset for your account on {{ settings.site_name }}. If this was not you, please ignore
	this email, otherwise <a href="{{ url }}">click here</a> to reset your password.</p>