{% extends "base.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
	<div class="container">
		<h1>Request password reset</h1>
		<p>Please check your email.</p>
	</div>
{% endblock %}