<?php

declare(strict_types = 1);

namespace App;

/**
 * Config class
 *
 * PHP version 7.0
 */
class Config {
	/**
	 * Database settings
	 */
	const DB_HOST = '';
	const DB_NAME = '';
	const DB_USER = '';
	const DB_PASS = '';

	/**
	 * Error logging - set to true for development, false for production
	 */
	const SHOW_ERRORS = true;

    /**
     * Whether to use a trailing slash for all site URLs
     * Set to false if you want URLs to look like yoursite.com/some-page
     * Set to true if you want URLs to look like yoursite.com/some-page/
     */
    const USE_URL_TRAILING_SLASH = false;

	/**
	 * Templates root - if you wish to move the templates directory, change this
	 * No trailing slash
	 */
	const TEMPLATE_DIR = '/public/templates/default';

	/**
	 * True to enable Twig template caching, false to disable
	 */
	const TEMPLATE_CACHING = false;

	/**
	 * Directory to save cache files in
	 */
	const CACHE_DIRECTORY = '/cache/files';

	/**
	 * Encryption key for tokens
	 * Use a 256-bit (32 characters) key
	 * You can use one from http://randomkeygen.com/
	 * Change this for every new project!
	 */
	const ENCRYPTION_KEY = 'lIfdsjEMVzbRrvPXkuXlbM6n9KdOEZKj';

	/*********************************************************
	 * Mail settings
	 *********************************************************/

	// The email address you'd like emails to be sent from (this is the email address users see when you send emails from the site)
	const MAIL_FROM_EMAIL = 'you@yourdomain.com';
	// The name you'd like to be displayed when users receive emails
	const MAIL_FROM_NAME  = 'Your Name';
	// The email address you'd like to receive notifications to (address to us when the system emails you directly)
	const MAIL_REPLY_TO   = 'you@yourdomain.com';
}

