{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="text-center">
		<im
			:src="'logo.png'"
			height="400"
			width="400"
			style="margin-bottom: 30px"
			alt="Lightning logo">
		</im>
	</div>

	<test>If this is blue, SCSS works!</test>
{% endblock %}

{% block footer %}
	<p class="text-center">Powered by <a href="https://github.com/clowerweb/Lightning" target="_blank">Lightning</a></p>
{% endblock %}
