{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block header %}
	<h1>Welcome to {{ settings.site_name }}</h1>
{% endblock %}

{% block body %}
	<p>Thanks for using Lightning!</p>
{% endblock %}

{% block footer %}
	<p>{{ settings.site_tagline }}</p>
{% endblock %}
