$color-white:    #fff;
$color-black:    #000;

$color-gray:     #aaa;
$color-gray-d:   darken($color-gray, 47%);
$color-gray-l:   lighten($color-gray, 20%);

$color-green:    #004000;
$color-green-d:  darken($color-green, 35%);
$color-green-l:  lighten($color-green, 80%);

$color-blue:     #00a3d9;
$color-blue-d:   darken($color-blue, 12%);
$color-blue-l:   lighten($color-blue, 50%);

$color-purple:   #d900d9;
$color-purple-d: darken($color-purple, 35%);
$color-purple-l: lighten($color-purple, 35%);

$color-orange:   #d96d00;
$color-orange-d: darken($color-orange, 35%);
$color-orange-l: lighten($color-orange, 50%);

$color-red:      #ff2626;
$color-red-d:    darken($color-red, 35%);
$color-red-l:    lighten($color-red, 35%);
