{% extends "base.twig" %}

{% block title %}Password reset failed{% endblock %}

{% block body %}
	<div class="container">
		<h2>Password reset failed</h2>
		<p>Sorry, but your password reset link is invalid or expired. Please <a href="/password/forgot">request a new one</a>.</p>
	</div>
{% endblock %}