body {
  padding-top: rem(102);
}

p {
  margin-bottom: rem(30);
}

a,
a:link,
a:visited {

  color: $color-blue;

  &:active,
  &:focus,
  &:hover,
  &:target {
    color: $color-blue-d;
  }

}

.alert {

  border: rem(1) solid transparent;
  margin-bottom: rem(20);
  padding: rem(12) rem(20);

  &-success {
    background-color: $color-green-l;
    border-color: $color-green;
    color: $color-green;
  }

  &-info {
    background-color: $color-blue-l;
    border-color: $color-blue;
    color: $color-blue;
  }

  &-warning {
    background-color: $color-orange-l;
    border-color: $color-orange;
    color: $color-orange;
  }

  &-error {
    background-color: $color-red-l;
    border-color: $color-red;
    color: $color-red;
  }

}

.errors {

  margin-bottom: rem(50);

  strong {
    display: block;
    margin-bottom: rem(20);
  }

  ul {
    list-style: inside;
  }

  li {

    margin-bottom: rem(15);

    &:last-of-type {
      margin-bottom: 0;
    }

  }

}

.page-title {
  margin-bottom: rem(30);
}

form {

  > div {

    margin-bottom: rem(15);

    label {
      display: block;
      font-weight: 700;
      margin: 0 rem(15) rem(15) 0;
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]),
    select,
    textarea {
      border: rem(1) solid $color-gray-l;
      border-radius: rem(4);
      max-width: 100%;
      padding: rem(5) rem(10);
      transition: all $speed-fast;
      width: rem(290);
    }

  }

}

.btn {

  border: rem(1) solid transparent;
  border-radius: rem(4);
  padding: rem(5) rem(10);

  &-primary {

    background-color: $color-blue;
    border-color: $color-blue-l;
    color: $color-white;

    &:active,
    &:focus,
    &:hover,
    &:target {
      background-color: $color-blue-d;
    }

  }

}

table {

  &.full {

    width: 100%;

    thead,
    tbody,
    tfoot,
    tr {
      width: 100%;
    }

  }

  thead {

    background-color: $color-blue;
    color: $color-white;

    &:last-of-type {

      th {
        border-bottom: rem(1) solid $color-blue-d;
      }

    }

  }

  th,
  td {
    border-left: rem(1) solid transparent;
    border-top: rem(1) solid transparent;
    padding: rem(5) rem(7);
  }

  th {

    border-color: $color-blue-d;

    &:last-of-type {
      border-right: rem(1) solid $color-blue-d;
    }

  }

  tr:last-of-type > td {
    border-bottom: rem(1) solid $color-gray-l;
  }

  td {

    border-color: $color-gray-l;

    &:last-of-type {
      border-right: rem(1) solid $color-gray-l;
    }

  }

}

@include md-up {

  form {

    > div {

      label {
        display: inline;
        margin-bottom: 0;
      }

    }

  }

}
