body {
  padding-top: rem(102);
}

p {
  margin-bottom: rem(30);
}

a,
a:link,
a:visited {

  color: $color-blue;

  &:active,
  &:focus,
  &:hover,
  &:target {
    color: $color-blue-l;
  }

}

.alert {

  border: rem(1) solid transparent;
  margin-bottom: rem(20);
  padding: rem(12) rem(20);

  &-success {
    background-color: $color-green-l;
    border-color: $color-green;
    color: $color-green;
  }

  &-info {
    background-color: $color-blue-l;
    border-color: $color-blue;
    color: $color-blue;
  }

  &-warning {
    background-color: $color-orange-l;
    border-color: $color-orange;
    color: $color-orange;
  }

  &-error {
    background-color: $color-red-l;
    border-color: $color-red;
    color: $color-red;
  }

}
