body {
  padding-top: rem(102);
}

p {
  margin-bottom: rem(30);
}

a,
a:link,
a:visited {

  color: $color-blue;

  &:active,
  &:focus,
  &:hover,
  &:target {
    color: $color-blue-d;
  }

}

.alert {

  border: rem(1) solid transparent;
  margin-bottom: rem(20);
  padding: rem(12) rem(20);

  &-success {
    background-color: $color-green-l;
    border-color: $color-green;
    color: $color-green;
  }

  &-info {
    background-color: $color-blue-l;
    border-color: $color-blue;
    color: $color-blue;
  }

  &-warning {
    background-color: $color-orange-l;
    border-color: $color-orange;
    color: $color-orange;
  }

  &-error {
    background-color: $color-red-l;
    border-color: $color-red;
    color: $color-red;
  }

}

.page-title {
  margin-bottom: rem(30);
}

form {

  > div {

    margin-bottom: rem(15);

    label {
      font-weight: 700;
      margin-right: rem(15);
    }

    input:not([type="checkbox"]),
    input:not([type="radio"]),
    input:not([type="button"]),
    input:not([type="radio"]),
    select,
    textarea {
      border: rem(1) solid $color-gray-l;
      border-radius: rem(4);
      padding: rem(5) rem(10);
      transition: all $speed-fast;
    }

  }

}

.btn {

  border: rem(1) solid transparent;
  border-radius: rem(4);
  padding: rem(5) rem(10);

  &-primary {

    background-color: $color-blue;
    border-color: $color-blue-l;
    color: $color-white;

    &:active,
    &:focus,
    &:hover,
    &:target {
      background-color: $color-blue-d;
    }

  }

}
