{% extends "base.twig" %}

{% block title %}Account activation{% endblock %}

{% block body %}
	<div class="container">
		<h1>Activation email resent</h1>
		<p>Your account activation email has been resent. Please check your email.</p>
	</div>
{% endblock %}