{% extends "base.twig" %}

{% block title %}Account Activation{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="page-title">Activation email resent</h3>
		<p>Your account activation email has been resent. Please check your email.</p>
	</div>
{% endblock %}