{% extends "base.twig" %}

{% block title %}Account activation{% endblock %}

{% block body %}
	<div class="container">
		<h2>Your email has been verified</h2>
		<p>Your account is now activated, and you can now <a href="/login">log in</a>.</p>
	</div>
{% endblock %}