{% extends "base.twig" %}

{% block title %}Registration Successful{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="page-title">Registration Successful</h3>

		<p>Success! Thanks for signing up.</p>

		{% if settings.require_activation %}
			<p>
				Please check your email to activate your account.
				{% if resend_token is not null %}
					<a href="/register/resend-activation/{{ resend_token }}">Resend activation email</a>.
				{% endif %}
			</p>
		{% endif %}

		{% if not settings.require_activation and not settings.require_approval %}
			<p>You can now <a href="/login">log in</a>.</p>
		{% endif %}
	</div>
{% endblock %}
